<div class="wrapper">
  <div class="container">
    <div class="row"><% @classmates.each do |person| %>
      <% avatar_img = person.avatar.url %>
      <div class="col-md-2 col-sm-3 col-xs-4 profile">

        <!-- use default pic for user if not avator found -->
        <% if avatar_img.nil? %>
          <%= image_tag "/avatar_default.png", :class => "img-responsive" %>
        <% else %>
          <%= image_tag avatar_img, :class => "img-responsive" %>
        <% end %>

        <div class="profile-content">
          <div class="row"><div class="name"><%= person.name %></div></div>

          <% unless person.githubProfile.nil? || person.githubProfile == '' %>
            <% person.githubProfile = ((person.githubProfile.split('//')[-1]).split('www.')[-1]).split('/')[-1] %>
            <div class="row"><i class="fa fa-github"></i>
              <%= link_to person.githubProfile, 'http://github.com/'+person.githubProfile, :target => '_blank' %>
            </div>
          <% end %>

          <% unless person.website.nil? || person.website == '' %>
            <% person.website = ((person.website.split('//')[-1]).split('www.')[-1]) %>
            <div class="row"><i class="fa fa-link"></i>
              <%= link_to person.website, 'http://'+person.website, :target => '_blank' %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="new-classmate-modal" role="dialog" aria-labelledby="AddClassmate">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add yourself to the page</h4>
      </div>
      <div class="modal-body">
      <%= simple_form_for Classmate.new, :validate => false, remote: true, html: {"data-type" => :json}, defaults: { input_html: { class: 'form-special' } } do |f| %>
        <%= f.input :name, label: 'Your name please (required)', class: "classmate-name" %>
        <%= f.input :githubProfile, label: 'GitHub Page (optional)' %>
        <%= f.input :website, label: 'Personal Website (optional)' %>
        <%= f.label 'Please upload an avatar image' %>
        <%= f.file_field :avatar %>

        <div class="alert alert-info" role="alert"><strong>Note: </strong>An admin will first have to approve your information, before your name can appear up on this page</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.button :submit, "Save", class: "btn btn-primary" %>
      <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
