<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">X</button>
            <h4 class="modal-title" id="myModalLabel"><%= @selected_course.subject %> <%= @selected_course.number %></h4>
            <div class="course-detail-term">Term: <%= @selected_course.term %> | Credit: <%= @selected_course.units %></div>
        </div>

    	<div class="modal-body">
    		<div class="course-detail-title"><%= @selected_course.title %></div>
    		<br>
            <div class="course-detail-description"><%= @selected_course.description %></div>
        </div>

        <div class="modal-footer">
        	<%= link_to @selected_course.subject + " " + @selected_course.number + " @ UW Flow", 'https://uwflow.com/course/'+ @selected_course.subject.downcase +  @selected_course.number, :target => '_blank' %>
        </div>

    </div>
</div>