<div class="col-sm-12 elective-type" id="CSE">
	<h2><span class="toggle-elective" value="CSE-container" onclick="toggleElectiveContainer(this)">+</span>Complementary Studies Electives</h2>
	<div class="col-sm-12" id="CSE-container" style="display:none;">
		<h5>Two courses from List C and two courses from List A, C, or D</h5>
		<div class="col-sm-12">
			<h4>List A - Impact Courses</h4>
			<div class="list-of-electives col-sm-12">
				<% @cse_electives.each do |elective| %>
					<% if elective["list"] == "A" %>
						<div class="elective-cell col-sm-1" data-toggle="modal" data-target="#course-detail-modal" title="<%=elective["title"]%>" value="<%=elective["code"]%>" onclick="loadDetailsPopup(this, false)">
				            <%= elective["code"] %>
			            </div>
			        <% end %>
				<% end %>
			</div>
		</div>
		<div class="col-sm-12">
			<h4>List C - Humanities and Social Sciences Courses</h4>
			<div class="elective-sub-category col-sm-12">
				<h5>1. Pre-scheduled - normally at 11:30 MWF, 7-10 M, or 7-10 T and therefore conflict-free for most Engierring students</h5>
				<div class="list-of-electives col-sm-12">
					<% @cse_electives.each do |elective| %>
						<% if elective["list"] == "C-1" %>
							<div class="elective-cell col-sm-1" data-toggle="modal" data-target="#course-detail-modal" title="<%=elective["title"]%>" value="<%=elective["code"]%>" onclick="loadDetailsPopup(this, false)">
					            <%= elective["code"] %>
				            </div>
				        <% end %>
					<% end %>
				</div>
			</div>
			<div class="elective-sub-category col-sm-12">
				<h5>2. Non Pre-scheduled</h5>
				<div class="list-of-electives col-sm-12">
					<% @cse_electives.each do |elective| %>
						<% if elective["list"] == "C-2" %>
							<div class="elective-cell col-sm-1" data-toggle="modal" data-target="#course-detail-modal" title="<%=elective["title"]%>" value="<%=elective["code"]%>" onclick="loadDetailsPopup(this, false)">
					            <%= elective["code"] %>
				            </div>
				        <% end %>
					<% end %>
				</div>		
			</div>
		</div>
		<div class="col-sm-12">
			<h4>List D - Other Permissible Complementary Studies Courses</h4>
			<div class="list-of-electives col-sm-12">
				<% @cse_electives.each do |elective| %>
					<% if elective["list"] == "D" %>
						<div class="elective-cell col-sm-1" data-toggle="modal" data-target="#course-detail-modal" title="<%=elective["title"]%>" value="<%=elective["code"]%>" onclick="loadDetailsPopup(this, false)">
				            <%= elective["code"] %>
			            </div>
			        <% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<br />
<div class="col-sm-12 elective-type" id="NSE">
	<h2><span class="toggle-elective" value="NSE-container" onclick="toggleElectiveContainer(this)">+</span>Natural Science Electives</h2>
	<div class="col-sm-12" id="NSE-container" style="display:none;">
		<h5>Two courses : at least one from List 1 and at most one from List 2</h5>
		<div class="col-sm-12">
			<h4>List 1 - Natural Science Intensive Course</h4>
			<div class="list-of-electives col-sm-12">
				<% @nse_electives.each do |elective| %>
					<% if elective["list"] == "1" %>
						<div class="elective-cell col-sm-1" data-toggle="modal" data-target="#course-detail-modal" title="<%=elective["title"]%>" value="<%=elective["code"]%>" onclick="loadDetailsPopup(this, false)">
				          	<%= elective["code"] %>
				        </div> 
				    <% end %>
				<% end %>
			</div>
		</div>
		<div class="col-sm-12">
			<h4>List 2 - Natural Science Courses</h4>
			<div class="list-of-electives col-sm-12">
				<% @nse_electives.each do |elective| %>
					<% if elective["list"] == "2" %>
						<div class="elective-cell col-sm-1" data-toggle="modal" data-target="#course-detail-modal" title="<%=elective["title"]%>" value="<%=elective["code"]%>" onclick="loadDetailsPopup(this, false)">
				          	<%= elective["code"] %>
				        </div> 
				    <% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<br />
<div class="col-sm-12 elective-type" id="TE">
	<h2><span class="toggle-elective" value="TE-container" onclick="toggleElectiveContainer(this)">+</span>Technical Electives</h2>
	<div class="col-sm-12" id="TE-container" style="display:none;">
		<h5>Five courses : at least two courses must be chosen from ECE 406-493 or 499. Up to two TEs may be technical courses from other programs; such courses must have sufficiently advanced technical content to be allowed</h5>
		<div class="col-sm-12">
			<h4>4A - Normally offered for the spring Term</h4>
			<div class="list-of-electives col-sm-12">
				<% @te_electives.each do |elective| %>
					<% if elective["list"] == "4A" %>
						<div class="elective-cell col-sm-1" data-toggle="modal" data-target="#course-detail-modal" title="<%=elective["title"]%>" value="<%=elective["code"]%>" onclick="loadDetailsPopup(this, false)">
				          	<%= elective["code"] %>
				        </div>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="col-sm-12">
			<h4>4B - Normally offered for the winter Term</h4>
			<div class="list-of-electives col-sm-12">
				<% @te_electives.each do |elective| %>
					<% if elective["list"] == "4B" %>
						<div class="elective-cell col-sm-1" data-toggle="modal" data-target="#course-detail-modal" title="<%=elective["title"]%>" value="<%=elective["code"]%>" onclick="loadDetailsPopup(this, false)">
				          	<%= elective["code"] %>
				        </div>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="col-sm-12">
			<h4>Fourth Year Design Project - Offered every term. Students may take it at most once.</h4>
			<div class="list-of-electives col-sm-12">
				<% @te_electives.each do |elective| %>
					<% if !elective["list"] %>
						<div class="elective-cell col-sm-1" data-toggle="modal" data-target="#course-detail-modal" title="<%=elective["title"]%>" value="<%=elective["code"]%>" onclick="loadDetailsPopup(this, false)">
				          	<%= elective["code"] %>
				        </div>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="col-sm-12">
			<h4>Core Electrical Engineering Courses - Students of Computer Entineering may use at most two courses</h4>
			<div class="list-of-electives col-sm-12">
				<% @te_electives.each do |elective| %>
					<% if elective["list"] == "CE" %>
						<div class="elective-cell col-sm-1" data-toggle="modal" data-target="#course-detail-modal" title="<%=elective["title"]%>" value="<%=elective["code"]%>" onclick="loadDetailsPopup(this, false)">
				          	<%= elective["code"] %>
				        </div>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="col-sm-12">
			<h4>Core Computer Engineering Courses - Students of Electrical Entineering may use at most two courses</h4>
			<div class="list-of-electives col-sm-12">
				<% @te_electives.each do |elective| %>
					<% if elective["list"] == "EE" %>
						<div class="elective-cell col-sm-1" data-toggle="modal" data-target="#course-detail-modal" title="<%=elective["title"]%>" value="<%=elective["code"]%>" onclick="loadDetailsPopup(this, false)">
				          	<%= elective["code"] %>
				        </div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>