<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="courses-header">
				<span class="title">CE - Core Courses</span>
				<span class="toggle-courses">EE Schedule</span>
			</div>
		</div>
		<div class="row">
			<div class="table-responsive">
			<table class="table">
			<% @terms.each do |term_count| %>
				<% if term_count == '2A' %><tr class="current-term">
				<% else %><tr><% end %>
					<td class="term-cell"><%= term_count %></td>
						<% @courses.each do |course| %>
							<% if course["term"] == term_count %>
			      		<% if course["major"] == "CE" %>
									<td class="CE-course" data-toggle="modal" data-target="#course-detail-modal" >
									  <div data-toggle="tooltip" data-placement="bottom" title="<%=course["title"]%>">
									   	<%= course["course_code"] %>
									  </div>
									</td>
								<% elsif course["major"] == "EE" %>
									<td class="EE-course" data-toggle="modal" data-target="#course-detail-modal" style="display:none;">
				          	<div data-toggle="tooltip" data-placement="bottom" title="<%=course["title"]%>">
				            	<%= course["course_code"] %>
				            </div>
				          </td>
				        <% else %>
				        	<td data-toggle="modal" data-target="#course-detail-modal" >
										<div data-toggle="tooltip" data-placement="bottom" title="<%=course["title"]%>">
											<%= course["course_code"] %>
										</div>
									</td>
				        <% end %>
			        <% end %>
			    	<% end %>
			  </tr>
			<% end %>
			</table>
			</div>
		</div>
	  <p><strong>Note: </strong>Students can enrol in the sequence ECE 498A-498B, or the sequence GENE 403-404, in their 4A-4B terms. Combinations such as ECE 498A-GENE 404 are not allowed</p>
	</div>
</div>

<div class="modal fade" id="course-detail-modal" role="dialog" aria-labelledby="CourseDetail"></div>