<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ECE 2019</title>
  <meta name="description" content="ECE2019 page">
  <meta name="author" content="Bilal Majeed & Kate Lim">

  <!-- bootstrap css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- google -->
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
	<body>

	<!-- Show nav bar only when we want it to -->
	<!-- @showNav var is defined in the controller of current view -->
	<% if @showNav %>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#"><%= @navBarTitle %></a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse navbar-ex1-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/home">Home</a></li>

	        <% if @navBarTitle == 'Courses'%>
	        	<li><a href="/classmates">Classmates</a></li>
	        	<li><a href="/info">Information</a></li>
	        <% elsif @navBarTitle == 'Classmates'%>
	        	<li><a href="/courses">Courses</a></li>
	        	<li><a href="/info">Information</a></li>
	        <% elsif @navBarTitle == 'Information'%>
	        	<li><a href="/courses">Courses</a></li>
	        	<li><a href="/classmates">Classmates</a></li>
	        <% end %>
	      </ul>
	    </div>
	  </div>
	</nav>
	<% end %>


	<!-- content from each view goes here -->
  	<%= yield %>
<!--
  	<% if @showFooter == true%>
  	<% end %> -->

  	<footer class="footer">
      <div class="container">
      	<p class="text-muted">
      		Copyright &copy; 2015 &nbsp; &nbsp; All Rights Reserved &nbsp; &nbsp;
      		<% if @navBarTitle == 'Classmates'%>
      			<a data-toggle="modal" data-toggle="modal" data-target="#new-classmate-modal">Add yourself to this page!</a>
      		<% end %>
      	</p>
      </div>
    </footer>

	<!-- bootstrap js -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	</body>
</html>

